#progress {
	height: 10px;
	background: rgb(255, 176, 0);
	top: 0;
	position: fixed;
	z-index: 99999;
}

#progress-back {
	height: 10px;
	background: rgb(255, 205, 0);
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

/*#helper {
	height: 1000px;
}*/

#logo {
	position: fixed;
	top: 30%;
	left: 40%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 30px;
}

#intro {
	position: fixed;
	top: 23%;
	left: 40%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 50px;
}

#instruct {
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: bold;
	font-size: 16px;
}

#slides-container {
	margin-top: 10px;
}

#slides {
	width: 200%;
	height: 200%;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
}

#slide-1 {
    background: rgb(255, 205, 0);
    background-size: cover;
}

/* Slide 2 goes to the bottom left */
#slide-2 {
    background: green;
    background-size: cover;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

/* Slide 3 goes to the bottom right */
#slide-3 {
    background: yellow;
    background-size: cover;
    -webkit-transform: translate(0,200%);
    -ms-transform: translate(0,200%);
    transform: translate(0,200%);
}

/* Slide 4 goes to the top right */
#slide-4 {
    background: blue;
    background-size: cover;
    -webkit-transform: translate(0%,300%);
    -ms-transform: translate(0,300%);
    transform: translate(0,300%);
}

/* Slide 5 goes to the top right */
#slide-5 {
    background: red;
    background-size: cover;
    -webkit-transform: translate(0%,400%);
    -ms-transform: translate(0,400%);
    transform: translate(0,400%);
}

/* Slide 6 goes to the top right */
#slide-6 {
    background: yellow;
    background-size: cover;
    -webkit-transform: translate(0%,500%);
    -ms-transform: translate(0,500%);
    transform: translate(0,500%);
}

/* Slide 7 goes to the top right */
#slide-7 {
    background: green;
    background-size: cover;
    -webkit-transform: translate(0%,600%);
    -ms-transform: translate(0,600%);
    transform: translate(0,600%);
}