#progress {
	height: 10px;
	background: rgb(255, 176, 0);
	top: 0;
	position: fixed;
	z-index: 99999;
}

#progress-back {
	height: 10px;
	background: rgb(255, 205, 0);
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#nav {
	width: 100%;
	height: 40px;
	background-color: black;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	padding: 5px;
}

#logo {
	position: fixed;
	top: 30%;
	left: 40%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 30px;
}

#logo h1 {
	font-size: 65px;
}

#intro {
	position: absolute;
	top: 23%;
	left: 40%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 50px;
}

#instruct {
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: bold;
	font-size: 16px;
}

#navlist {
	list-style: none;
}

#navlist li {
	float: left;
	margin-right: 30px;
	font-size: 20px;
	vertical-align: center;
}

#navlist li a {
	color: white;
	text-decoration: none;
	opacity: 0.7;
}

#navlist li a:hover {
	opacity: 1;
}


.about-text {
	position: fixed;
	top: 23%;
	left: 10%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 30px;
}

/*#skills {
	height: 90vh;
	width: auto;
	margin-left: 10%;
}*/

#laptop {
	height: 400px;
}

#mozart {
	position: fixed;
	left: 100px;
	z-index: 9999;
	height: 250px;
	width: auto;
}

#spain {
	top: 45vh;
	right: 65vh;
	height: 320px;
	width: auto;
}

#hampton {
	height: 200px;
	width: auto;
}

#sailboat {
	height: 400px;
	width: auto;
	bottom: 30px;
}

#camera {
	right: 55%;
	height: 150px;
	width: auto;
}

#horse {
	right: 20%;
	height: 300px;
	width: auto;
}

#skills {
	height: 100%;
	widows: 100%;
}

#skills svg {
	height: 100%;
	width: 100%;
}

#skills svg circle {
	opacity: 0.4;
}

#slides-container {
	margin-top: 10px;
}

#slides {
	width: 200%;
	height: 200%;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
}

#slide-1 {
    background: rgb(255, 205, 0);
    background-size: cover;
}

/* Slide 2 goes to the bottom left */
#slide-2 {
    background: rgb(68, 198, 80);
    background-size: cover;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

/* Slide 3 goes to the bottom right */
#slide-3 {
    background: #4A90E2;
    background-size: cover;
    -webkit-transform: translate(0,200%);
    -ms-transform: translate(0,200%);
    transform: translate(0,200%);
}

/* Slide 4 goes to the top right */
#slide-4 {
    background: rgb(191, 85, 236);
    background-size: cover;
    -webkit-transform: translate(0%,300%);
    -ms-transform: translate(0,300%);
    transform: translate(0,300%);
}

/* Slide 5 goes to the top right */
#slide-5 {
    background: rgb(189, 195, 199);
    background-size: cover;
    -webkit-transform: translate(0%,400%);
    -ms-transform: translate(0,400%);
    transform: translate(0,400%);
}

/* Slide 6 goes to the top right */
#slide-6 {
    background: rgb(236, 240, 241);
    background-size: cover;
    -webkit-transform: translate(0%,500%);
    -ms-transform: translate(0,500%);
    transform: translate(0,500%);
}

/* Slide 7 goes to the top right */
#slide-7 {
    background: rgb(108, 122, 137);
    background-size: cover;
    -webkit-transform: translate(0%,600%);
    -ms-transform: translate(0,600%);
    transform: translate(0,600%);
}