html, body {
	max-width: 100vw;
	overflow-x: hidden !important;
	/*font-family: "brandon-grotesque",sans-serif;*/
}

ul {
	list-style: none;
}

.slide-content {
	margin: 50px 50px 50px 50px;
}

#progress {
	height: 5px;
	background: rgb(255, 176, 0);
	top: 0;
	position: fixed;
	z-index: 99999;
}

#progress-back {
	height: 5px;
	background: rgb(255, 205, 0);
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#nav {
	width: 100%;
	height: 30px;
	background-color: black;
	/*background: rgb(255, 205, 0);*/
	position: fixed;
	bottom: 0;
	z-index: 9999;
	padding: 5px;
}

#ship {
	margin-left: 40vw;
	margin-top: 30vh;
	position: fixed;
	width: 20vw;
}

#logo {
	position: absolute;
	top: 30%;
	left: 40%;
	z-index: 9999;
	color: white;
	font-family: "brandon-grotesque",sans-serif;
	font-weight: lighter;
	font-size: 10vh;
}

#logo h1 {
	font-size: 65px;
	position: fixed;
	background: rgba(0,0,0,0.2);
	padding: 0.1em 0.2em 0.1em 0.6em;
	font-weight: 100;
	letter-spacing: 0.4em;
}

#intro {
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 50px;
}

#intro2 p {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	bottom: 10vh;
	width: 60vw;
	left: 25vw;
	font-size: 1.2vw;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #B3B3B3;
	font-weight: lighter;
	letter-spacing: 0.4em;

}

/*#intro2 span.label {
	background-color: #5da423;
	padding-left: .2em;
	padding-right: .2em;
	padding-top: .1em;
	padding-bottom: .2em;
}

#intro2 a {
	background-color: #2ba6cb;
	padding-left: .2em;
	padding-right: .2em;
	padding-top: .1em;
	padding-bottom: .2em;
}*/

#instruct {
	margin-top: 50%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: bold;
	font-size: 16px;
}

#navlist {
	list-style: none;
}

#navlist li {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	vertical-align: center;
}

#navlist li a {
	/*color: white;*/
	color: rgb(255, 205, 0);
	text-decoration: none;
	opacity: 0.9;
	font-weight: 200;
}

#navlist li a:hover {
	opacity: 1;
}

.content {
	padding-top: 5%;
	padding-bottom: 10%;
	margin-left: 250px;
	margin-right: 250px;
}

.sub-header {
	font-size: 20px;
	font-weight: 200;
	margin-top: 2%;
}

#about {
	line-height: 35px;
	padding: 0;
}

.skill-header {
	font-size: 15px;
	color: white;
	background: black;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	margin-bottom: 30px;
}

.skills-row {
	padding-bottom: 50px;
	padding-top: 50px;
}

ul.skills {
	padding: 0;
}

.project {
	/*min-height: 300px;*/
}

.project-link {
	float: left;
	margin-right: 5px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  background: white;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  background: white;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

#slides-container {
	margin-top: 5px;
}

.project-container {
	margin-right: 10%;
}

#slides {
	width: 100%;
	height: 100%;
}

.slide {
    /*position:absolute;*/
    top:0;
    left:0;
    width:100%;
    /*min-height: 100vh;*/
    margin-left: 0px;
    margin-right: 0px;
}

#slide-1 {
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)),url(../img/yellowsite.jpg) no-repeat top left scroll;
	background-opacity: 0.2;
	/* background: rgb(255, 205, 0); */
	background-size: cover;
	height: 40vh;
	/*min-height: 300px;*/
}

.intro {
	background: rgba(255,255,255,0.6);
	padding: 1em;
	color: black;
	margin-top: 3vh;
	max-width: 50vw;
	margin-left: 10vw;
	font-weight: 400;
	max-height: 30vh;
	font-size: 2vh;
	min-width: 500px;
}

span.label {
	background: #2ba6cb;
	font-weight: 200;
}

a.label.success {
	background: #5da423;
	font-weight: 200;
}

.menu-container {
	height: 60vh;
	background: yellow;
	margin: 1vh 1vh 1vh 1vh;
}

.menu {
	margin: 0vh 1vw 0vh 1vw;
}

.menu .row {
	margin: 0;
}

.menu-item {
	margin-left: 0.1vw;
	margin-bottom: 0.1vh;
	background: blue;
	height: 28vh;
	width: 32vw;
	height: 27vh;
}

/* Slide 2 goes to the bottom left */
#slide-2 {
    background: white;
    background-size: cover;
/*    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);*/
}

/* Slide 3 goes to the bottom right */
#slide-3 {
    background: #ebeff2;
    background-size: cover;
/*    -webkit-transform: translate(0,200%);
    -ms-transform: translate(0,200%);
    transform: translate(0,200%);*/
    /*height: 100% !important;*/
}

/* Slide 4 goes to the top right */
#slide-4 {
    background: white;
    background-size: cover;
/*    -webkit-transform: translate(0%,300%);
    -ms-transform: translate(0,300%);
    transform: translate(0,300%);*/
}

/* Slide 5 goes to the top right */
#slide-5 {
    background: #ebeff2;
    background-size: cover;
/*    -webkit-transform: translate(0%,400%);
    -ms-transform: translate(0,400%);
    transform: translate(0,400%);*/
}

/* Slide 6 goes to the top right */
#slide-6 {
    background: rgb(236, 240, 241);
    background-size: cover;
/*    -webkit-transform: translate(0%,500%);
    -ms-transform: translate(0,500%);
    transform: translate(0,500%);*/
}

/* Slide 7 goes to the top right */
#slide-7 {
    background: rgb(108, 122, 137);
    background-size: cover;
/*    -webkit-transform: translate(0%,600%);
    -ms-transform: translate(0,600%);
    transform: translate(0,600%);*/
}