ul {
	list-style: none;
}

#progress {
	height: 10px;
	background: rgb(255, 176, 0);
	top: 0;
	position: fixed;
	z-index: 99999;
}

#progress-back {
	height: 10px;
	background: rgb(255, 205, 0);
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#nav {
	width: 100%;
	height: 40px;
	background-color: black;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	padding: 5px;
}

#logo {
	position: fixed !important;
	top: 30%;
	left: 40%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 30px;
}

#logo h1 {
	font-size: 65px;
	position: fixed !important;
}

#intro {
	position: absolute;
	top: 23%;
	left: 40%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: lighter;
	font-size: 50px;
}

#instruct {
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: 9999;
	color: white;
	font-family: 'helvetica neue';
	font-weight: bold;
	font-size: 16px;
}

#navlist {
	list-style: none;
}

#navlist li {
	float: left;
	margin-right: 30px;
	font-size: 20px;
	vertical-align: center;
}

#navlist li a {
	color: white;
	text-decoration: none;
	opacity: 0.7;
}

#navlist li a:hover {
	opacity: 1;
}

.content {
	padding-top: 5%;
	padding-bottom: 10%;
	margin-left: 250px;
	margin-right: 250px;
}

.sub-header {
	font-size: 20px;
	font-weight: lighter;
	margin: 50px 0px 50px 0px;
}

#about {
	line-height: 35px;
	padding: 0;
}

.skill-header {
	font-size: 15px;
	color: white;
	background: black;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	margin-bottom: 30px;
}

.skills-row {
	padding-bottom: 100px;
}

ul.skills {
	padding: 0;
}

.project {
	/*min-height: 300px;*/
}

.project-link {
	float: left;
	margin-right: 5px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  background: white;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  background: white;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

#slides-container {
	margin-top: 10px;
}

#slides {
	width: 200%;
	height: 100%;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    /*height:100%;*/
    border-bottom: 1px solid gray;
}

#slide-1 {
    background: rgb(255, 205, 0);
    background-size: cover;
}

/* Slide 2 goes to the bottom left */
#slide-2 {
    background: rgb(68, 198, 80);
    background-size: cover;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

/* Slide 3 goes to the bottom right */
#slide-3 {
    background: #4A90E2;
    background-size: cover;
    -webkit-transform: translate(0,200%);
    -ms-transform: translate(0,200%);
    transform: translate(0,200%);
    /*height: 100% !important;*/
}

/* Slide 4 goes to the top right */
#slide-4 {
    background: rgb(191, 85, 236);
    background-size: cover;
    -webkit-transform: translate(0%,300%);
    -ms-transform: translate(0,300%);
    transform: translate(0,300%);
}

/* Slide 5 goes to the top right */
#slide-5 {
    background: rgb(189, 195, 199);
    background-size: cover;
    -webkit-transform: translate(0%,400%);
    -ms-transform: translate(0,400%);
    transform: translate(0,400%);
}

/* Slide 6 goes to the top right */
#slide-6 {
    background: rgb(236, 240, 241);
    background-size: cover;
    -webkit-transform: translate(0%,500%);
    -ms-transform: translate(0,500%);
    transform: translate(0,500%);
}

/* Slide 7 goes to the top right */
#slide-7 {
    background: rgb(108, 122, 137);
    background-size: cover;
    -webkit-transform: translate(0%,600%);
    -ms-transform: translate(0,600%);
    transform: translate(0,600%);
}